html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000;
  overflow: hidden;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

canvas {
  background: url('./assets/2025Background.jpg') no-repeat center center;
  background-size: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  @apply flex flex-col items-center;
}

.instructions-button {
  @apply fixed top-8 left-8 w-12 h-12 bg-purple-600 text-white flex items-center justify-center rounded-full text-xl z-50 transition-colors duration-300 ease-in-out;
}

.instructions-button:hover {
  @apply bg-purple-800;
}

.instructions-button svg {
  @apply w-6 h-6;
}

.export-button {
  @apply fixed top-8 left-[calc(2rem+3rem+1rem)] w-12 h-12 bg-purple-600 text-white flex items-center justify-center rounded-full text-xl z-50 transition-colors duration-300 ease-in-out;
}

.export-button:hover {
  @apply bg-purple-800;
}

.export-button svg {
  @apply w-6 h-6;
}

.modal-content {
  @apply bg-purple-900 p-6 rounded-lg shadow-lg relative;
  @apply max-w-md min-w-md;
  max-height: 80vh;
}

.modal-close-button {
  @apply absolute top-2 right-2 w-8 h-8 bg-dark-purple text-white rounded-full flex items-center justify-center text-xl font-semibold hover:bg-purple-800 focus:outline-none;
}

.copy-button {
  @apply mt-4 bg-dark-purple text-white py-2 px-4 rounded cursor-pointer;
}

.copy-button:hover {
  @apply bg-purple-800;
}

.hidden-data {
  @apply overflow-auto max-h-48 whitespace-pre-wrap text-white;
}
